.top {
  width:  100%;
  height: 350px;
  padding-top: 50px;
  background-color: #ffffff;
  font-family: $font-1;
  &__title {
    font-size: 50px;
    text-align:  center;
  }
  &__rogo {
    margin-top: 50px;
    font-size: 20px;
    &__text {
      text-align:  center;
    }
    &__translation {
      margin-top: 10px;
      text-align:  center;
      color: rgb(155, 152, 152);
    }
    &__author {
      margin-top: 40px;
      margin-left: 900px;
    }
  }
}

.center {
  width:  100%;
  // height: 480px;
  &__display {
    width: 70%;
    height: 100%;
    margin:0 auto;
    background-color: $white;
    padding-top: 30px;
    &__date {
      font-family: $font-1;
      margin-bottom: 20px;
      color: #253141;
      text-align: center;
      font-size: 25px;
    }
    &__name {
    text-align: center;
    font-size: 30px;  
    color: #253141;
    margin-bottom: 20px;
    }
    &__check {
      margin-left: auto;
      margin-right: auto;
      width: 600px;
      height: 80px;
      font-family: $font-1;
      background-color: #38AEF0;
      margin-bottom: 20px;
      line-height: 80px;
      text-align: center;
      border-radius: 10px;
      font-size: 30px;
      &__btn {
        color: #ffffff;
        text-decoration: none;
      }
    }
    &__routineList {
      margin-left: auto;
      margin-right: auto;
      width: 600px;
      height: 80px;
      font-family: $font-1;
      background-color: #ff8c00;
      line-height: 80px;
      text-align: center;
      border-radius: 10px;
      font-size: 30px;
      &__btn {
        color: $white;
        text-decoration: none;
      }
    }
    &__item {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      &__edit {
        width: 230px;
        height: 40px;
        margin-top: 20px;
        background-color: #a1a1a1;
        line-height: 40px;
        border-radius: 10px;
        text-align: center;
        &__btn {
          color: $white;
          text-decoration: none;
        }
      }
      &__create {
        width: 230px;
        height: 40px;
        margin-top: 20px;
        margin-left: 20px;
        background-color: #a1a1a1;
        line-height: 40px;
        border-radius: 10px;
        text-align: center;
        &__btn {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

.bottom {
  width:  100%;
  margin-bottom: 10px;
  padding-top: 20px;
  &__content {
    width: 80%;
    height: 210px;
    margin:0 auto;
    border-bottom: 3px solid #cfebfc;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    &__image {
      width: 200px;
      height: 200px;
    }
    &__text {
      width: 500px;
      height: 200px;
      margin-left: 20px;
      font-size: 50px;
      line-height: 200px;
    }
    &__member {
      width: 250px;
      height: 200px;
      margin-left: 20px;
      font-size: 20px;
      &__text {
        font-size: 30px;
      }
    }
    &__edit {
      width: 80px;
      height: 40px;
      margin-top: 80px;
      margin-left: 20px;
      background-color: #ff8c00;
      line-height: 40px;
      border-radius: 10px;
      text-align: center;
      &__btn {
        color: $white;
        text-decoration: none;
      }
    }
  }
}