.notification {
  .notice {
    background-color: rgb(64, 133, 238);
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: rgb(116, 117, 116);
    color: $white;
    text-align: center;
  }
}