h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
h2 {
  text-align: center;
  color: rgb(155, 152, 152);

}
h3 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}



.group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 2px solid rgb(145, 145, 145);
  border-radius: 5px;
  box-sizing: border-box;
  &__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }
  &__text {
    margin-top: 20px;
    height: 40px;
    display: flex;
    &__label {
      margin-right: 10px;
      line-height: 40px;
      font-family: 'Osaka',sans-serif;
    }
    &__input {
      width: 800px;
    }
  }
  &__image {
    margin-top: 20px;
  }
  &__check {
    margin-top: 20px;
    &__label {
      margin-right: 20px;
      font-family: 'Osaka',sans-serif;
    }
  }
  &__submit--btn {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    margin-left: 15px;
    background-color: $lightBlue;
    font-weight:bold;
    color: #ffffff;
    text-decoration: none;
  }
}

.chat-group-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  &__name {
    float: left;
  }
  &__btn {
    float: right;
    display: inline-block;
    cursor: pointer;
    &--add {
      color: $lightBlue;
    }
    &--remove {
      color: #f05050;
    }
  }
}